{{> header }}
<form class="center row" method="GET" action="/">
  <div class="col s12 ">
    <div class="row" id="topbarsearch">
      <div class="input-field col s6 s12 red-text">
        <i class="red-text material-icons prefix">search</i>
        <input
          type="text"
          placeholder="search"
          id="autocomplete-input"
          name="query"
          class="autocomplete red-text"
          onkeyup="this.form.dispatchEvent(new Event('submit'))"
          autocomplete="off"
          value="{{ query }}"
        />
      </div>
    </div>
  </div>
</form>
{{ query }}
{{> footer }}
